/* Link to Google Fonts Imports */
@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Quicksand:wght@300..700&display=swap');

/* Variable Fonts and Colors */
:root {
    --primary-font: "Barriecito", sans-serif;
    --secondary-font: "Quicksand", sans-serif;
    --primary-color: #ae0000;
    --secondary-color: #ffce1b;
    --tertiary-color: #FDFBD4;
    --highlight-color: #0a5d00;
}

/* Global Styles */

body {
    background-color: var(--tertiary-color);
    background: url("../images/mixedspices.jpg") no-repeat center center/cover;
    padding-top: 74px;
    padding-left: 20px;
    padding-right: 20px;
}

.sub-heading {
    font-family: var(--primary-font);
    color: var(--primary-color);
}

.header {
    border: 5px solid var(--primary-color);
}

header,
main {
    background-color: var(--tertiary-color);
}

main {
    background-color: var(--tertiary-color)!important;
    background: url("../images/golden-lace.png") center/cover;
}

#header {
    background-image: url("../images/redpepper.png");
    background-color: var(--secondary-color);
    background-position: center top;
    padding-top: 10px;
    max-width: none;
}

h1,
h2 {
    font-family: var(--primary-font);
    color: var(--primary-color);
    text-decoration: underline;
}

h3,
h5 {
    font-family: var(--primary-font);
    color: var(--primary-color);
}

h5 span {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-family: var(--primary-font);
    padding: 0.5rem;
    border: 3px solid var(--primary-color);
}

.sub-heading span {
    font-family: var(--primary-font);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 4px 10px;
}

.display-3 span {
    background-color: var(--secondary-color);
    padding: 0.5px 10px;
    border: 5px solid var(--primary-color);
}

.moletext>p {
    font-family: var(--secondary-font);
    color: var(--primary-color);
    font-weight: bold;
}

.display-6 span {
    padding: 7px;
}

/* Navbar Styles */

.navbar-brand {
    font-family: var(--primary-font);
    color: var(--secondary-color);
    font-size: xx-large;
}

.navbar-brand:hover {
    color: var(--secondary-color);
}

.nav-text {
    font-family: var(--primary-font);
    color: var(--secondary-color);
    font-size: larger;
}

.nav-text:hover {
    color: var(--tertiary-color);
}

.dropdown-menu {
    background-color: var(--primary-color);
}

#navbar {
    background-color: var(--primary-color);
}

.navbar-nav .nav-item .active {
    text-decoration: underline;
    color: var(--tertiary-color);
}

.dropdown-item:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

/* Carousel Home Styles */

.carousel-inner {
    height: 0;
    padding-bottom: 65%;
}

.carousel-item {
    position: absolute !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.carousel-item img {
    height: 100%;
    object-fit: cover;
}

.carousel-text {
    padding-top: 20px;
    font-family: var(--secondary-font);
    color: var(--primary-color);
    font-weight: bold;
}

/* Mole Home Styles */

.mole {
    width: 250px;
    border: 10px solid var(--primary-color);
    margin-top: 1em;
}

.moletext {
    margin-top: 20px;
}

.moletext h5 span {
    background-color: var(--secondary-color);
    border: 3px solid var(--primary-color);
}

/* Location Home Styles */

.location-cards {
    display: grid;
    justify-content: center;
}

.card:hover {
    padding: 20px;
    border: 10px solid var(--primary-color);
    transition: 0.5s;
}

.card,
.list-group-item {
    padding: 10px;
    border: none;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-family: var(--secondary-font);
    text-align: center;
    margin-bottom: 20px;
}

.card {
    border: 5px solid var(--primary-color);
}

/* Footer Styling Section*/

#contact {
    background-color: var(--primary-color);
    padding-top: 20px;
    border: 10px solid var(--secondary-color);
}

#contact h2 {
    color: var(--secondary-color);
}

#contact .social-links i {
    color: var(--secondary-color);
    font-size: 1.9rem;
    transition: color 0.3s ease-in-out;
}

#contact .social-links i:hover {
    color: var(--tertiary-color);
}

.social-links h3 {
    color: var(--secondary-color);
    padding-left: 5px;
    padding-right: 20px;
}

/* Media Queries */

@media only screen and (max-width: 991px) {
    .second-paragraph {
        display: none;
    }
}

@media screen and (max-width: 413px) {

.carousel-caption span {
    display: none;
}

}

@media screen and (min-width: 768px) {

    .sub-heading {
        padding-top: 7px;
    }

    #navbar {
        max-width: 100%;
    }

    .monthlycurry {
        display: flex;
    }

    .moletext {
        padding-left: 40px;
    }

    .mole {
        margin-top: 25px;
    }

    .location-cards {
        display: flex;
        padding-left: 20px;
    }

    .card {
        width: 14rem !important;
        max-height: 500px;
    }

    .social-links {
        display: flex;
        justify-content: space-around;
    }

}

@media screen and (min-width: 992px) {

    .moletext {
        margin-top: 50px;
        padding-left: 0px;
    }

    .card-column {
        justify-items: center;
    }

    .card {
        width: 18rem !important;
    }

    .carousel {
        width: 90%;
        margin-left: 45px;
    }
}

@media screen and (min-width: 1200px) {

    .carousel {
        margin-left: 55px;
    }

}

@media screen and (min-width: 1400px) {

    .carousel {
        margin-left: 60px;
    }

    .moletext {
        padding-right: 40px;
    }

    .carousel-text {
        padding: 0px 60px
    }
}